<nav>
    <h1><a href='/'>Members Only</a></h1>
    <ul>
        <li>
            <a href='/log-in'>Log in</a>
        </li>
        <li>
            <a href='/sign-up''>Sign up</a>
        </li>
    </ul>
</nav>