<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head', {title: title}); %>
  </head>
  <body>
    <header>
      <%- include('./partials/header'); %>
    </header>
    <main>
      <form action='' method='POST'>
        <div class='form-container'>
            <h2>Login</h2>
            <p>Don't have an account? Sign up</p>
            <div class='form-section'>
                <label for='username'>Username:</label>
                <input type='text' name='username' required>
            </div>
            <div class='form-section'>
                <label for='password'>Password:</label>
                <input type='password' name='password' required>
            </div>
        </div>
        <button class='form-button'>Login</button>
      </form>
    </main>
  </body>
</html>